---
import ChallengeCard from "./ChallengeCard.astro";

interface Props {
    title?: string;
    heading?: string;
    paragraph?: string;
    featuresList?: string[];
}
import RewardIcon from "../../../assets/icons/reward-icon.svg";
import RecycleIcon from "../../../assets/icons/recycle-icon.svg";

const {
    title = "The Challenge",
    heading = "Standing Out On The Shelf.",
    paragraph = 'Supermarket shelves are dominated by clinical white and blue bottles (like Dettol or Lifebuoy). Green Nest wanted to target the premium, eco-conscious consumer. <br><br> <span class="font-bold text-black">The Brief:</span> Design a logo that screams "Organic" and "Freshness" instantly. The visual identity had to promise that the product cleans hands but keeps skin soft and moisturized.',
    featuresList = null,
} = Astro.props;
---

<div class="internal-padding py-12">
    <span class="mb-4 text-lg font-semibold text-[#643DB4] md:text-xl">
        {title}
    </span>
    <h1
        class="mb-4 text-5xl font-semibold text-black md:text-4xl md:leading-tight lg:text-5xl xl:text-6xl 2xl:text-[68px]"
    >
        {heading}
    </h1>
    <p set:html={paragraph} class="text-sm text-[#535353] lg:text-lg" />

    <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <ChallengeCard
            title="Visual Fatigue"
            paragraph="Overcoming the generic leaf cliches prevalent in the eco-friendly sector."
        />
        <ChallengeCard
            title="Education"
            paragraph="Communicating the refillable system clearly through packaging design."
            icon={RecycleIcon}
        />
        <ChallengeCard
            title="Premium Feel"
            paragraph="balancing earth-friendly materials with a high-end luxury aesthetic."
            icon={RewardIcon}
        />
    </div>
</div>
